{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="display-4 text-center">About Us</h1>
                <p class="lead text-center">
                    This is a Django project created with the purpose of enhancing the author's knowledge of this framework.
                </p>
                <p>
                    Some of the topics addressed during the development:
                </p>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/auth/">Custom User Authentication</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/auth/customizing/#using-a-custom-user-model-when-starting-a-project">Custom User Model</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/class-based-views/">Class-based Views</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/db/models/">Relational Models</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/ref/models/constraints/">Constraints</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/http/sessions/">SESSION</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check-circle text-success"></i> 
                        <a target="_blank" href="https://docs.djangoproject.com/en/5.0/topics/db/queries/">ORMs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="h4">Author</h2>
                <p><a target="_blank" href="https://www.linkedin.com/in/c-almeidarodrigo/">Rodrigo Almeida</a></p>
                <small class="text-muted">BSc in Computer Engineering</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
